<div class="order-details palette-belize-hole">
  <div class="user-info">
    <img ng-src="{{currentOrder && currentOrder.user.image_url || 'https://lh4.googleusercontent.com/-IeNLrMufTzs/AAAAAAAAAAI/AAAAAAAAAAA/DhrKtAT5unM/s120-c/photo.jpg'}}"></img>
    <div class="personal">
      <h1>{{currentOrder.user.first_name || "Customer"}} {{currentOrder.user.last_name}}</h1>
      <span>{{currentOrder.user.email}}</span>
      <span class="fui-heart favorite" ng-show="currentOrder.user && currentOrder.user.rank < 10"> <span style="font-size: 20px; color: white; font-weight:bold;">top customer</span></span>
    </div>
  </div>
  <div class="btn-notify">
    <div class="btn btn-block btn-lg btn-danger" ng-click="nextState(currentOrder).update()" ng-show="currentOrder">
      <p>{{nextState(currentOrder).label}}</p>
    </div>
  </div>
</div>
<div class="receipt">
  <div class="subheader palette-midnight-blue">Items</div>
  <div class="scrollable">
    <ul class="order-items">
      <li ng-repeat="order_item in currentOrder.order_items">
        <span class="item-name">{{order_item.item.title}}</span>
        <div class="item-info">
          <i>{{order_item.quantity}}</i> x
          <span class="item-price">
            {{order_item.item.price | currency}}
          </span>
        </div>
      </li>
      <li ng-show="currentOrder.taxes > 0">
        <span class="item-name">Taxes</span>
        <div class="item-info">
          {{currentOrder.taxes | currency}}
        </div>
      </li>
      <li>
        <span class="item-name">Total</span>
        <div class="item-info">
          {{currentOrder.total | currency}}
        </div>
      </li>
    </ul>
  </div>
</div>

