<div class="controller" ng-controller="OrderQueueController">
  <div class="main-wrapper">
    <div class="main-left">
      <div class="header palette-green-sea" ng-click="toggleState(currentStateIndex)">
          Order {{currentStateIndex == 0 ? "Queue" : "History"}}
      </div>
      <div class="scrollable">
        <ul class="order-items">
          <li ng-repeat="order in orders" style="overflow:auto;" ng-click="displayOrder(order)" ng-class="order.state">
            <span class="item-name">{{order.user.first_name}} {{order.user.last_name}}</span>
            <div class="item-info">
                Order #{{order.id}}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-right" ng-show="currentOrder.id">
      <div class="header palette-midnight-blue">
        Order Details for #{{currentOrder.id}}
      </div>
      <div ng-show="currentOrder" ng-include = "'orders/{{currentOrder.id}}'">
      </div>
    </div>
  </div>
</div>