<header class="site-header navbar" ng-controller="NavigationsController">
  <div class="navbar-inner">
    <a class="brand" href="/">tappd</a>

    <div class="nav-collapse collapse">
      <ul class="nav pull-right">
        <li ng-class="{active: newOrder()}"><a href="#">New Order</a></li>
        <li ng-class="{active: orderQueue()}"><a href="#orders">Order Queue</a></li>
      </ul>
    </div>
  </div>
</header>