<header class="site-header navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">tappd</a>

    <div class="nav-collapse collapse">
      <ul class="nav pull-right">
        <li class="active"><a href="#">New Order</a></li>
        <li><a href="#orders">Order Queue</a></li>
      </ul>
    </div>
  </div>
</header>